.main-page {
    text-align: center; /* Centrer verticalement */
    
    margin-left: 20%;
    margin-right: 20%;

}

#input-task {
    width: 300px; /* Modifie cette valeur selon tes besoins */
    padding: 10px; /* Ajoute un peu d'espace intérieur pour un rendu plus agréable */
    font-size: 16px; /* Augmente la taille du texte si nécessaire */
}

.output-task div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 7%;
    margin-right: 10%;
    border-color: blue;
    border: solid;
}

.output-task label {
    margin-left: 10px;
}

.attribution { 
    font-size: 11px;
    text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}

.task-management {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Tu peux ajuster la marge en fonction de ton design */
    
}

.items-left {
    flex: 1;
    text-align: left;
}

.filters {
    display: flex;
    gap: 20px; /* Espace entre les filtres (All, Active, Completed) */
    flex: 1;
    justify-content: center;
}

.filters span{
    cursor: pointer;
}

.clear-completed {
    flex: 1;
    text-align: right;
}
